@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}

body {
  position: relative;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.cloud1 {
  /* Фигура5 */
  position: absolute;
  width: 590.13px;
  height: 569.43px;
  left: -168px;
  right: 2193.49px;
  top: -136px;
  bottom: 5812px;
  z-index: -2;
}

.cloud2 {
  /* Фигура3 */
  position: absolute;
  width: 433.5px;
  height: 472.78px;
  left: 3px;
  right: 2179.12px;
  top: 800px;
  bottom: 4972.65px;
  z-index: -2;
}

.cloud3 {
  position: absolute;
  width: 859.63px;
  height: 813.45px;
  left: 1408px;
  right: 348px;
  top: 981px;
  bottom: 4450.98px;
  z-index: -2;
}

.cloud4 {
  /* Фигура2 */
  position: absolute;
  width: 861.63px;
  height: 805.45px;
  right: 1240.37px;
  top: 3344px;
  bottom: 2095.98px;
  z-index: -2;
}

.cloud5 {
  /* Фигура4 */
  position: absolute;
  width: 632.09px;
  height: 656.4px;
  right: -50.13px;
  top: 4636px;
  bottom: 953.03px;
  z-index: -2;
}

.cloud6 {
  /* Фигура6 */
  position: absolute;
  width: 590.13px;
  height: 569.43px;
  left: -290px;
  right: 2315.49px;
  top: 5540px;
  bottom: 136px;
  z-index: -2;
}

.cloud__bottom {
  width: 400.63px;
  height: 405.45px;
  right: 1640.37px;
  top: 3444px;
}

.slash__green {
  color: #56FFCC;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
}

.slash_purple {
  margin: 0;
  color: #7856FF;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
}

.hidden {
  display: none;
}

.header {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.header__menu {
  display: flex;
  gap: 72px;
}
.header__menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.intro {
  margin: 0 auto;
  width: 1291px;
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-top: 80px;
}
.intro__info {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 227px;
}
.intro__info-header {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 73px;
  text-align: left;
  display: flex;
  align-items: center;
}
.intro__info-header .slash_purple {
  font-size: 60px;
}
.intro__info-description {
  margin: 0;
  color: rgb(0, 0, 0);
  padding-top: 25px;
}
.intro__info-button {
  margin: 0;
  margin-top: 120px;
  width: 220px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(22, 14, 32);
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.concept {
  margin: 0 auto;
  padding-top: 223px;
  width: 1412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(177, 185, 206);
  text-align: left;
}
.concept__menu {
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 42px;
}
.concept__menu a {
  text-decoration: none;
  color: #000000;
}
.concept__content {
  border-radius: 20px;
  background: #160E20;
  width: 1412px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(22, 14, 32);
}
.concept__about {
  background: url("img/concept_content.png") no-repeat;
  height: 508px;
  padding: 65px 121px;
}
.concept__about-title {
  width: 570px;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
}
.concept__about-text {
  margin: 0;
  width: 528px;
}
.concept__reasons {
  padding-left: 718px;
  padding-top: 64px;
  height: 508px;
  background: url("img/concept__reasons.png") no-repeat;
  background-size: contain;
}
.concept__reasons-title {
  margin: 0;
  width: 306px;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
}
.concept__reasons-text {
  padding-right: 200px;
}
.concept__participation {
  height: 508px;
  padding: 65px 121px;
  background: url("img/concept__participation.png") no-repeat;
  background-size: contain;
}
.concept__participation-title {
  margin: 0;
  width: 510px;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
}
.concept__participation-cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 14px;
  justify-content: center;
  align-content: start;
  padding-top: 46px;
}
.concept__participation-card {
  width: 300px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.concept__participation-card:nth-child(2) {
  margin-top: -10px;
}
.concept__participation-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 110px;
  height: 110px;
  background-color: #ffffff;
}
.concept__participation-text {
  padding-top: 34px;
}
.concept__participation img {
  width: 78px;
  height: 78px;
}

.active {
  border-bottom: 2px solid rgb(120, 86, 255);
}

.cases {
  width: 1294px;
  margin: 0 auto;
}
.cases__top {
  width: 1294px;
  height: 499px;
  background: url("img/cases_background.png");
}
.cases__header {
  padding-top: 62px;
  width: 570px;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  margin: 0;
  margin-left: 86px;
}
.cases__description {
  width: 390px;
  text-transform: uppercase;
  padding-top: 30px;
  margin: 0;
  margin-left: 86px;
}
.cases__items {
  margin: 0 auto;
  margin-top: -70px;
  width: 1169px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
}
.cases__item {
  width: 269.26px;
  height: 327.16px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  text-align: left;
}
.cases__item-text {
  text-decoration: none;
  width: 234px;
  padding-top: 21px;
  padding-left: 16px;
  color: #000000;
}

.cases__item {
  filter: grayscale(100%);
}
.cases__item:hover {
  filter: grayscale(0);
}

.schedule {
  margin: 105px auto;
  width: 1412px;
  min-height: 1108px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(22, 14, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.schedule__content {
  width: 590px;
  padding-left: 113px;
  margin: 0;
}
.schedule__header {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  margin: 0;
  color: #FFFFFF;
}
.schedule__text {
  margin: 0;
  padding-top: 30px;
  color: #FFFFFF;
}
.schedule__dates {
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.schedule__date {
  width: 514px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 19px 26px;
}
.schedule__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.schedule__description {
  margin: 0;
  padding-top: 20px;
}
.schedule img {
  width: 720px;
  min-height: 966px;
}

.qa {
  margin: 0 auto;
  width: 1170px;
  margin-bottom: 107px;
}
.qa__header {
  margin: 0;
  width: 570px;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
}
.qa__items {
  margin-top: 47px;
  width: 1170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 24px;
}
.qa__item {
  padding: 23px 26px;
  border-radius: 7px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}
.qa__item_question {
  text-transform: uppercase;
  font-weight: 700;
}
.qa__item1 {
  grid-column: 1/1;
  grid-row: 1;
}
.qa__item2 {
  grid-column: 2/4;
  grid-row: 1/2;
}
.qa__item3 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.qa__item4 {
  grid-column: 3/3;
  grid-row: 2/4;
}
.qa__item5 {
  grid-column: 1/2;
  grid-row: 3/3;
}

.footer {
  background-color: #160E20;
  color: #B1B9CE;
  overflow: hidden;
}
.footer__wrap {
  width: 1170px;
  margin: 0 auto;
  padding: 74px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__info, .footer__contact {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.footer__contact {
  align-items: end;
}
.footer__contact p {
  margin: 0;
}
.footer__email, .footer__site-name {
  margin: 0;
}

.case__intro {
  margin: 0 auto;
  margin-top: 214px;
  width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-direction: row;
}
.case__intro-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  width: 534px;
  margin: 0;
  padding-top: 51px;
}
.case__intro-button {
  margin-top: 49px;
  width: 186px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(22, 14, 32);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.case__intro img {
  width: 526px;
}

.case__details {
  margin: 0 auto;
  margin-bottom: 81px;
  width: 1350px;
  padding-top: 253px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.case__details-menu {
  width: 1005px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 42px;
}
.case__details-menu a {
  text-decoration: none;
  color: #000000;
}

.case__content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 65px 90px 116px 90px;
  width: 1350px;
  border-radius: 20px;
  background: url("img/case_page.png") no-repeat center;
  background-size: 100%;
}
.case__content-about {
  width: 570px;
  color: #B1B9CE;
  padding-right: 80px;
}
.case__content-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
}
.case__content-logo img {
  width: 570px;
}

.case__description {
  margin: 0 auto;
  width: 1170px;
}
.case__description-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  margin: 0;
  padding-bottom: 40px;
}
.case__description-text {
  margin: 0;
  padding-bottom: 40px;
}

.mentors {
  margin-top: 41px;
  margin-bottom: 76px;
  width: 1350px;
  padding: 76px 90px 106px 90px;
  min-height: 769px;
  border-radius: 20px;
  background: url("img/mentors_bg.png") no-repeat center;
  background-size: 100%;
  color: #B1B9CE;
}
.mentors__header {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  color: #FFFFFF;
  padding-bottom: 57px;
}
.mentors__info {
  display: flex;
}
.mentors__info img {
  padding-bottom: 34px;
}
.mentors__info-block {
  text-align: center;
}
.mentors__name {
  font-weight: 700;
}

.register {
  width: 1170px;
}
.register__header {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  padding-bottom: 53px;
}
.register__form-inputs {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 570px);
}
.register__form-left, .register__form-right {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
.register__form-left input, .register__form-left textarea, .register__form-right input, .register__form-right textarea {
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  border: none;
}
.register__form-left input, .register__form-right input {
  height: 51px;
  padding: 21px 31px;
}
.register__form-chbx {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 570px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  border: none;
}
.register__form-chbx input {
  width: 20px;
  margin: 0;
  margin-left: 31px;
}
.register__form-chbx input::before {
  border-color: #7a7a7a;
  background-color: #ffffff;
}
.register__form-chbx input::after {
  border-color: #7a7a7a;
  background-color: #7a7a7a;
}
.register__form-chbx label {
  margin: 0;
  padding-left: 14px;
  color: rgb(136, 136, 136);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.register__button {
  margin-top: 30px;
  margin-bottom: 76px;
  width: 319.77px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(22, 14, 32);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-fon {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  background-color: #7a7a7a;
}

.modal {
  margin-top: 60px;
  width: 1200px;
  height: 800px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding-top: 60px;
}

.register__header-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal_close {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}/*# sourceMappingURL=style.css.map */