.cases {
    width: 1294px;
    margin: 0 auto;
    &__top {
        width: 1294px;
        height: 499px;
        background: url("img/cases_background.png");
    }
    &__header {
        padding-top: 62px;
        width: 570px;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0%;
        text-align: left;
        margin: 0;
        margin-left: 86px;

    }
    &__description {
        width: 370px;
        text-transform: uppercase;
        padding-top: 30px;
        margin: 0;
        margin-left: 86px;
    }
    &__items {
        margin: 0 auto;
        margin-top: -70px;
        width: 1169px;
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 30px;
    }
    &__item {
        width: 269.26px;
        height: 327.16px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        background: rgb(255, 255, 255);
        text-align: left;
        &_text {
            width: 234px;
            padding-top: 21px;
            padding-left: 16px;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
        }
    }
}